# Dependencies
node_modules
vendor

# Build artifacts
public/build
public/hot

# Environment
.env
.env.backup
.env.example

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Docker
.dockerignore
Dockerfile
docker-entrypoint.sh

# Logs
*.log
storage/logs/*

# Caches
.bootstrap
.cache
